<div class="col-lg-7 col-md-7 col-sm-8 col-xs-11">
    <uib-tabset  active="activeTabIndex"  ng-init="sortPages()" id="sortable">
        <uib-tab ng-repeat="(keyC, page) in columns.pages"  index="keyC">
            <uib-tab-heading>
                <span>Page {{ keyC + 1 }}</span>
                <a class="text-danger" ng-click="deletePage(page._id)" style="cursor: pointer; ">
                    [ <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> ]
                </a>
            </uib-tab-heading>
            <div ng-if="page.contents.length <= 0">
                <div class="well well-sm">
                    Place your elements here
                </div>
            </div>
            <div ui-sortable="sortableContent" ng-model="page.contents" class="connected-apps-container" style="min-height: 40px;">
                <div ng-repeat="(keyP, content) in page.contents" ng-init="number = countInit();">
                    <render-content content="content" number="number"></render-content>
                </div>
            </div>
        </uib-tab>
        <li class="uib-tab nav-item unsortable">
            <button type="button" class="btn btn-default btn-small unsortable" ng-click="newPage()" aria-label="toggle fullscreen">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </li>
    </uib-tabset>
</div>
