<div class="panel panel-default">
    <div class="panel-heading" ng-class="{'darkred': content.input.type === 'title'}"><!--style="background-color: {{ content.input.title.color }} !important;"-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h5  class="text-center" style="color: white;" >
                    {{ content.input.title.text }}
                </h5>
            </div>
            <div class="col-md-2">
                <div class="text-right">
                    <div class="btn-group">
                        <button class="btn btn-default btn-sm btn-block" ng-click="edit(content)">
                            <i class="fa fa-cog" aria-hidden="true"></i> Edit
                        </button>
                    </div>
                    <div class="btn-group" ng-click="clone(keyC, keyP)">
                        <button class="btn btn-primary btn-sm">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="btn-group" ng-click="deleteContent(123, content._id)">
                        <button class="btn btn-danger btn-sm">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body" ng-if="content.input.type !== 'title'">
        <section class="informations disable-all-contents">
            <div class="row">
                <div class="col-md-12" ng-init="content.number  = number + 1">
                    <b>{{ content.number }} - {{ content.description }}</b>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <div class="form-group">
                            <ng-include src="getInputTemplate()"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

