<div class="container-fluid">
    
    <add-menu></add-menu>
    <!--div id="page-content-wrapper">
        <div class="row equal-height-panels">
            <div class="col-md-6">
                <div class="panel panel-dark panel-primary">
                    <div class="panel-heading">
                        <div class="text-center">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9">
                                    <h4>
                                        <p>Seq. Numeros:</p>
                                        <p><strong>EX: 1 1.1 1.1.1 2 2.1 2.1.1 2 3</strong></p>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <textarea ng-model="numbers" value="dasas" class="form-control" cols="30" rows="10" >12312</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" ng-click="removeAll()" class="btn btn-danger btn-block">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir Tudo
                </button>
                <button type="button" class="btn btn-info btn-block">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Dummy Valores
                </button>
            </div>
        </div-->
        <div ng-controller="surveyCtrl">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                <li>
                    <a href="" data-target="#editor" data-toggle="tab" ><i class="fa fa-pencil-square-o pull-left"></i> Editor</a>
                <li>
                <li>
                    <a href="" ng-click="developer()"  data-target="#developer" data-toggle="tab">
                        <i class="fa fa-code pull-left"></i> Desenvolvedor
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="editor" class="tab-pane fade in active">
                    <div class="row">
                        <input-menu></input-menu>
                        <survey-builder></survey-builder>
                        <div class="col-md-3">
                            <pre>{{ columns | json }}</pre>
                        </div>
                    </div>
                </div>
                <div id="developer" class="tab-pane fade in">
                    <h1 class="alert alert-success alert-white rounded">
                        Desenvolvedor
                    </h1>
                    <div class="well well-sm">
                        <h2 class="alert alert-success alert-white rounded">
                            <i class="fa fa-html5"></i> HTML
                        </h2>
                        <div class="form-group">
                            <textarea id="htmlResult" name="" cols="30" rows="40" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <h2 class="alert alert-success alert-white rounded">
                            <i class="fa fa-rebel"></i> Javascript
                        </h2>
                        <div class="form-group">
                            <textarea name="" cols="30" rows="40" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <h2 class="alert alert-info alert-white rounded">
                            <i class="fa fa-rebel"></i> Custom Javascript
                        </h2>
                        <div class="form-group">
                            <textarea name="" cols="30" rows="40" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="well well-sm">
                        <h2 class="alert alert-danger alert-white rounded">
                            <i class="fa fa-rebel"></i> Show or Hide Javascript
                        </h2>
                        <div class="form-group">
                            <textarea name="" cols="30" rows="40" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
                <div id="secaoPrevia" class="tab-pane fade">
                    <h1>PRÉVIA</h1>
                </div>
            </div>
        </div>
    </div>
</div>
