<div class="container-fluid">
    <div class="col-md-6 col-md-offset-4">
        <div ng-controller="createCtrl">
            <div class="panel">
                <div class="panel-heading">
                    <form ng-submit="newSurvey()" method="post">
                        <div class="form-group">
                            <label>Name: <input type="text" ng-model="survey.name" class="form-control" required/></label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
                <div class="panel-body"   ng-if="surveyList.length > 0">
                    <table class="table table-stripped table-condensed table-bordered">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th colspan="2"></th>
                        </tr>
                        </thead>
                        <tbody  ng-model="surveyList" ng-repeat="survey in surveyList track by $index">
                        <tr>
                            <td>{{ $index }}</td>
                            <td>{{ survey.name }}</td>
                            <td>
                                <a href="#/survey/{{ survey._id }}" class="btn btn-success btn-sm btn-block" style="color: white;"><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-sm btn-block" ng-click="deleteSurvey(survey._id)"><i class="fa fa-times fa-2x" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer"  ng-if="message.success">
                    <div class="alert alert-success">
                        {{ message.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
