<div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
        <div ng-controller="createCtrl">
            <form ng-submit="newSurvey()" method="post">
                <input type="text" ng-model="survey.name" required/>
                <button type="submit">Submit</button>
            </form>
            <table class="table table-stripped">
                <thead>
                <tr>
                    <td>Name</td>
                    <td>Link</td>
                </tr>
                </thead>
                <tbody  ng-model="surveyList" ng-repeat="survey in surveyList  track by $index">
                <tr>
                    <td>{{ survey.name }}</td>
                    <td><a href="#/survey/{{ survey._id }}" class="btn btn-primary">{{ $index }}</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>