<div class="panel-body">
    <div class="form-group">
        <label>
            <div class="checkbox-inline">
                <input type="checkbox" ng-model="content.isRequired" style="display: none;" checked>
                Questão obrigatória?
                <div ng-switch on="content.isRequired" >
                    <span ng-switch-when="true"><i class="fa fa-check-square-o"></i> Sim</span>
                    <span ng-switch-when="false"><i class="fa fa-square-o"></i> Não</span>
                    <span ng-switch-default><i class="fa fa-square-o"></i> Não</span>
                </div>
            </div>
        </label>
        <label>
            <div class="checkbox-inline">
                <input type="checkbox" ng-model="content.isHide" style="display: none;">
                Mostra Questão?
                <div ng-switch on="content.isHide">
                    <span ng-switch-when="true"><i class="fa fa-eye-slash"></i> Não</span>
                    <span ng-switch-when="false"><i class="fa fa-eye"></i> Sim</span>
                    <span ng-switch-default><i class="fa fa-eye"></i> Sim</span>
                </div>
            </div>
        </label>
        <label ng-hide="hasComment">
            <div class="checkbox-inline">
                <input type="checkbox" ng-model="content.hasComment"  style="display: none;">
                Tem Comentário?
                <div ng-switch on="content.hasComment">
                    <span ng-switch-when="true"><i class="fa fa-eye-slash"></i> Não</span>
                    <span ng-switch-when="false"><i class="fa fa-eye"></i> Sim</span>
                    <span ng-switch-default><i class="fa fa-eye"></i> Não</span>
                </div>
            </div>
        </label>
    </div>
    <div class="form-group">
        <label> Description:</label>
        <input type="text" ng-model="content.description" class="form-control"/>
    </div>
</div>
