<div class="panel panel-default" style="color: black;">
    <div class="panel-heading">
        <add-titles></add-titles>
    </div>
    <div class="panel-body">
        <section class="informations">
            <div class="row">
                <div class="col-md-1"><div class="form-group"><input type="text" class="form-control" ng-model="p.number" /></div></div>
                <div class="col-md-10"><div class="form-group"><input type="text" class="form-control" ng-model="p.description"  placeholder="Digite a Questão"/></div></div>
                <div class="col-md-1 text-center">
                    <div class="form-group"><button type="button" ng-click="edit(keyC, keyP)" class="btn btn-default btn-sm"><i class="fa fa-cog" aria-hidden="true"></i> edit</button></div>
                </div>
            </div>
            <render-inputs input="p.input"></render-inputs>
        </section>
    </div>
</div>

