<section class="col-lg-7 col-md-7 col-sm-11 col-xs-11">
    <uib-tabset active="vm.activeTabIndex" type="pills" id="sortable">
        <uib-tab ng-repeat="(pageIndex, page) in vm.survey.pages" index="pageIndex" ng-init="vm.sortPages()">
            <uib-tab-heading>
                Page <span ng-bind="pageIndex + 1"></span>
                <a class="text-danger" ng-click="vm.deletePage(page._id)" style="cursor: pointer; ">
                    [ <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> ]
                </a>
            </uib-tab-heading>
            <div class="well well-sm" ng-if="page.contents.length <= 0">
                Place your elements here
            </div>
            <div ui-sortable="vm.sortableContent" ng-model="page.contents" class="connected-apps-container" style="min-height: 40px;">
                <div ng-repeat="content in page.contents" ng-init="number = vm.countInit(content.input.type);">
                    <render-content content="content" number="number"></render-content>
                </div>
            </div>
        </uib-tab>
        <uib-tab-button class="btn btn-default btn-small unsortable" ng-click="vm.newPage()">
            <i class="fa fa-files-o" aria-hidden="true"></i>
        </uib-tab-button>
    </uib-tabset>
</section>
