<div class="container-fluid">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li>
            <a href="" data-target="#editor" data-toggle="tab" ><i class="fa fa-pencil-square-o pull-left"></i> Editor</a>
        <li>
        <li>
            <a href="" data-target="#json" data-toggle="tab" ><i class="fa fa-pencil-square-o pull-left"></i> Json</a>
        <li>
        <li>
            <a href="" ng-click="vm.developer()"  data-target="#developer" data-toggle="tab">
                <i class="fa fa-code pull-left"></i> Desenvolvedor
            </a>
        </li>
        <li>
            <a href="" data-target="#preview" data-toggle="tab">
                Preview
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="editor" class="tab-pane fade in active">
            <div class="row">
                <survey-input-menu class="col-lg-3 col-md-3" ng-controller="InputMenuController as vm"></survey-input-menu>
                <survey-builder class="col-lg-7 col-md-7 col-sm-11 col-xs-11" ng-controller="SurveyContentController as vm"></survey-builder>
            </div>
        </div>
        <div id="json" class="tab-pane fade in">
            <pre>{{ vmSurvey.survey | json }}</pre>
        </div>
        <div id="developer" class="tab-pane fade in">
            <textarea class="form-control" id="htmlResult" cols="30" rows="30"></textarea>
        </div>
        <div id="preview" class="tab-pane fade in">
            <survey-preview survey-data="vmSurvey.survey"></survey-preview>
        </div>
    </div>
</div>
