<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="pt-br" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="pt-br" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="pt-br" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="pt-br" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Multi Step Form Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css"/>
    <style>
        .disable-all-contents{
            pointer-events:none;
        }
        .highlight {
            opacity: 0.7;
        }
        .ui-state-highlight {
            position: relative;
            padding: 14px;
            border: 2px dashed grey;
            margin-bottom: 14px;
            border-radius: 5px;
            font-size: 30px;
            height: 70px;
            color: grey;
            text-align: center;
        }
        .ui-state-highlight:after {
            content: 'drop zone';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }

        .navbar-fixed-left {
            position: fixed;
        }
        .darkred {
            background-color: darkred !important;
            color: white !important;
        }
        @media (min-width: 767px) {
            #navigation{
                position: fixed;
            }
        }
        .md-toast-done .md-toast-content{
            background: #004f75 !important;
        }
        .selected {
            background-color: red;
        }

        .md-toast-error .md-toast-content{
            background: rgb(193, 30, 23) !important;
        }
    </style>
</head>
<body>


<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<theme-switcher themes="vm.themes"></theme-switcher>
<section class="content">
    <section ui-view></section>
</section>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/angular-ui-sortable/sortable.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.16/angular-filter.min.js"></script>
<script src="http://vitalets.github.io/checklist-model/checklist-model.js"></script>

<script type="text/javascript" src="app.js"></script>

<!--common scripts-->
<script type="text/javascript" src="common/directives/theme.switcher.js"></script>
<script type="text/javascript" src="common/directives/bind-html-compile.directive.js"></script>
<script type="text/javascript" src="common/services/logger.service.js"></script>

<!--survey-->
<script type="text/javascript" src="survey/client/config/survey.client.routes.js"></script>
<script type="text/javascript" src="survey/client/survey.client.module.js"></script>
<script type="text/javascript" src="survey/client/builder/controllers/survey-input-menu.client.controller.js"></script>
<script type="text/javascript" src="survey/client/builder/controllers/survey-main.client.controller.js"></script>
<script type="text/javascript" src="survey/client/builder/directives/modal/tab/survey-choices.client.directive.js"></script>
<script type="text/javascript" src="survey/client/builder/directives/modal/tab/survey-hide-when.client.directive.js"></script>
<script type="text/javascript" src="survey/client/builder/directives/modal/tab/survey-title.client.directive.js"></script>
<script type="text/javascript" src="survey/client/builder/directives/modal/tab/survey.general-config.client.directive.js"></script>
<script type="text/javascript" src="survey/client/builder/directives/survey-builder.client.directive.js"></script>
<script type="text/javascript" src="survey/client/builder/directives/survey-content.client.directive.js"></script>
<script type="text/javascript" src="survey/client/builder/directives/survey-input-menu.client.directive.js"></script>
<script type="text/javascript" src="survey/client/builder/directives/survey-preview.client.directive.js"></script>
<script type="text/javascript" src="survey/client/builder/services/survey-collection.service.js"></script>
<script type="text/javascript" src="survey/client/builder/services/survey-content-tab.service.js"></script>
<script type="text/javascript" src="survey/client/builder/services/survey-input-menu.service.js"></script>
<script type="text/javascript" src="survey/client/builder/services/survey-sortable.service.js"></script>
<script type="text/javascript" src="survey/client/builder/services/survey.service.js"></script>
<script type="text/javascript" src="survey/client/config/survey.client.routes.js"></script>
<script type="text/javascript" src="survey/client/new/controllers/survey-new.client.controller.js"></script>
<!-- templates -->
<script type="text/ng-template" id="configTemplate.html">
    <form name="editModal" ng-submit="ok(editModal.$valid)" method="post">
        <div class="modal-header">
            <h4 ng-if="content.input.type !== 'title'"><span ng-bind="content.number"></span> - <span ng-bind="content.description"></span></h4>
            <h4 ng-if="content.input.type === 'title'" ng-bind="content.input.title.text"></h4>
        </div>
        <div class="modal-body">
            <div class="panel">
                <uib-tabset active="activeConfig">
                    <uib-tab ng-repeat="(i, tab) in render.tabs" heading="{{ tab.title }}" index="i">
                        <span bind-html-compile="tab.template"></span>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="modal-footer">
            <pre ng-bind="content | json"></pre>
            <!--button class="btn btn-primary" ng-click="apply()">Aplicar</button-->
            <button type="submit" class="btn btn-primary" >OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</script>
<script type="text/ng-template" id="input-identification-template.html">
    <div class="form-group">
        <div class="radio">
            <label><input type="radio" name="notaperguntaIdentificacao" class="identificacao" value="Sim"/> Sim</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="notaperguntaIdentificacao" class="identificacao" value="Não"/> Não</label>
        </div>
    </div>
    <div id="contato" class="margin-top">
        <div class="alert alert-default linha">
            <div class="form-group has-success has-feedback">
                <label for="nome">Nome Completo:</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                    <input class="form-control" name="nomeDireto" placeholder="Digite o Nome" required="" type="text" value="">
                </div>
            </div>
            <div class="form-group has-success has-feedback">
                <label for="telefone">Telefone</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </span>
                    <input class="form-control" name="telefoneDireto" placeholder="Digite o Telefone" value="" type="text">
                </div>
            </div>
            <div class="form-group has-feedback has-success">
                <label for="email">Email</label>
                <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                    <input class="form-control" name="emailDireto" placeholder="Digite o Email" value="" type="text">
                </div>
            </div>
        </div><!--/alert-->
    </div>
</script>
<script type="text/ng-template" id="input-gradient-template.html">
    <div class="radio-inline" ng-repeat="i in content.input.elements">
        <label>
            <input type="radio"/> <span ng-bind="i.text"></span>
        </label>
    </div>
    <div class="textarea-justificativa">
        <span class="justificativa">O que foi decisivo para dar esta nota? Justificar notas 1 e 2</span>
        <textarea class="form-control" ></textarea>
    </div>
</script>
<script type="text/ng-template" id="input-net-promoter-score-template.html">
    <div class="text-center">
        <div class="btn-group" data-toggle="buttons"  ng-repeat="(i, e) in content.input.elements">
            <label class="btn btn-lg" ng-class="e.text > 8 ? 'btn-success' : ( e.text < 7? 'btn-danger' : 'btn-warning' ) ">
                <input type="radio"/> <span ng-bind="e.text"></span>
            </label>
        </div>
        <!-- Image Courtesy of http://hummingbird.com.au/nps/ -->
        <img src="http://hummingbird.com.au/wp/wp-content/uploads/2015/05/nps.png" alt="nps" class="img-responsive center-block"/>
    </div>
</script>
<script type="text/ng-template" id="input-select-template.html">
    SELECT BOX
    <div ng-repeat="i in content.input.elements">
        <b class="text-danger">text: </b> <kbd ng-bind="i.text"></kbd>
        <b class="text-danger">value: </b> <kbd ng-bind="i.value"></kbd>
    </div>
</script>
<script type="text/ng-template" id="input-radio-template.html">
    <br/>
    <div ng-repeat="i in content.input.elements">
        <label>
            <input type="radio"/> <span ng-bind="i.text"></span>
        </label>
    </div>
    <label ng-if="content.hasOther">
        <input type="radio"/> Other
    </label>
</script>
<script type="text/ng-template" id="input-checkbox-template.html">
    <div ng-repeat="i in content.input.elements">
        <label>
            <input type="checkbox"/> <span ng-bind="i.text"></span>
        </label>
    </div>
    <label ng-if="content.hasOther">
        <input type="checkbox"/> Other
    </label>
</script>
<script type="text/ng-template" id="input-comments-template.html">
    <textarea class="form-control" rows="4"></textarea>
</script>
<script type="text/ng-template" id="input-conheco-template.html">
    CONHECO
</script>
</body>
</html>