<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <form ng-submit="vm.newSurvey()" method="post">
                        <div class="form-group">
                            <label id="name">Name:</label>
                            <input type="text" ng-model="vm.survey.name" id="name" class="form-control form-control-sm" />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
                <div class="card-body" ng-if="vm.surveyList.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Name</th>
                                <th scope="col" colspan="2">buttons</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-model="vm.surveyList" ng-repeat="survey in vm.surveyList track by $index">
                                <th ng-bind="$index + 1" scope="row"></th >
                                <td ng-bind="survey.name"></td>
                                <td>
                                    <button type="submit" class="btn btn-danger btn-block btn-sm" ng-click="vm.deleteSurvey(survey._id)">
                                        <i class="far fa-trash-alt fa-1x" aria-hidden="true"></i>
                                    </button>
                                </td>
                                <td>
                                    <a ui-sref="survey.builder({ surveyId: survey._id })" class="btn btn-success btn-block btn-sm">
                                        <i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
