<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-heading">
                    <form ng-submit="vm.newSurvey()" method="post">
                        <div class="form-group">
                            <label>Name: <input type="text" ng-model="vm.survey.name" class="form-control" /></label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </form>
                </div>
                <div class="panel-body" ng-if="vm.surveyList.length > 0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>Name</th>
                            <th colspan="2">buttons</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-model="vm.surveyList" ng-repeat="survey in vm.surveyList track by $index">
                            <td ng-bind="$index + 1" class="col-md-1"></td>
                            <td ng-bind="survey.name" class="col-md-9"></td>
                            <td class="col-md-1">
                                <button type="submit" class="btn btn-danger btn-block btn-sm" ng-click="vm.deleteSurvey(survey._id)">
                                    <i class="fa fa-trash-o fa-1x" aria-hidden="true"></i>
                                </button>
                            </td>
                            <td class="col-md-1">
                                <a ui-sref="survey.builder({ surveyId: survey._id })" class="btn btn-success btn-block btn-sm">
                                    <i class="fa fa-arrow-right fa-1x" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
